build/*


.bochsrc
bochsout.txt


third-party/gcc-*
third-party/binutils-*
third-party/mpc-*
third-party/mpfr-*
third-party/gmp-*

third-party/.gcc-*
third-party/.binutils-*
third-party/.mpc-*
third-party/.mpfr-*
third-party/.gmp-*

third-party/bin
third-party/*-elf
third-party/include
third-party/lib
third-party/libexec
third-party/share
