build/*


.bochsrc
bochsout.txt

stage2.map
kernel.map

**/compile_commands.json
**/.cache

third_party/gcc-*
third_party/binutils-*
third_party/mpc-*
third_party/mpfr-*
third_party/gmp-*

third_party/.gcc-*
third_party/.binutils-*
third_party/.mpc-*
third_party/.mpfr-*
third_party/.gmp-*

third_party/bin
third_party/*-elf
third_party/include
third_party/lib
third_party/libexec
third_party/share
